p {
    color:#00008B;
}

h1 {
    color: #00008B;
    text-shadow: 2px 2px 5px #00008B;
}

h2 {
   color: #00008B;
}

h3 {
    color: #00008B; 
}

body{
    background-color: #fffdd0;
}

img {
    border: 5px inset  #fffdd0;
}

